* {
    box-sizing: border-box; /* падинги не будутрасширять блок */
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}
.header {
    background-image: url(../images/header-bg.jpg);
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container {
    max-width: 1200px; /* 1170+15+15 */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.menu__list {
   display: flex; 
}
/* li+li применится ко всем ли, кроме первой */
.menu__list li+li {
    padding-left: 50px;
}

.login {
    margin-right: 44px;
    color: ivory;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__list a {
    color: #ffffff;
    opacity: 0.5;
    font-weight: 600;
    text-transform: uppercase;
    transition: all.5s;
}

.menu__list a:hover {
    opacity: 1;
}

.sign-up {
    text-transform: uppercase;
    font-weight: 600;
    color: #250F8A;
    background-color: ivory;
    padding: 8px 43px;
    border-radius: 20px;
}

.header-slider {
    padding-top: 111px;
}
.header-slider__item {
}
.header-slider__item-content {
    display: flex;
    justify-content: space-between;
}
.header-slder__item-info {
    max-width: 506px;
    color: #fff;
}
.header-slider__title {
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
   
    margin-bottom: 10px;
}
.header-slider__description {
    font-weight: normal;
    font-size: 24px;
    line-height: 55px;
  margin-bottom: 60px;

}
.header-slider__btn {
    text-transform: uppercase;
    color: #250F8A;
    font-weight: 600;
    padding: 13px 39px;
    background: #FFCA00;
    border-radius: 25px; 

}
.header-slider__item-images {
    margin: 10px 82px 0 0;
}

.header-dots {
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
}

.header-dots button {
    border: none;
    background-color: #fff;
    opacity: 0.5;
    font-size: 0;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    display: block;
}

.header-dots .slick-active button {
    width: 15px;
    opacity: 1;
}


